@model ResumeBuilder.Models.HomeViewModel

<div class="m-3 p-4 border border-2 shadow-lg resume">
    <div class="text-center my-4">
        <h1 class="display-4">@Model.FirstName @Model.MiddleName @Model.LastName</h1>
        <div class="col">@Model.Age  |  @Model.Email  |  @Model.Address </div>
    </div>
    <hr />
    <h3 class="mt-2">Objectives</h3>
    <p class="mt-2">@Model.Objective</p>
    <hr />
    <div class="row text-center mt-5">
        <div class="col">
            <h2>EDUCATION</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">School</th>
                        <th scope="col">Location</th>
                        <th scope="col">Course</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Schools)
                    {

                        <tr>
                            <td>@item.SchoolName</td>
                            <td>@item.SchoolLocation</td>
                            <td>@item.Course</td>
                            @*<td>@item.StartDate.ToShortDateString()</td>*@
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col text-center">
            <h2>LINK</h2>
            <div>Github:<span><a href="https://@Model.Github" target="_blank" > @Model.Github</a> </span></div>
            <div>Facebook:<span><a href="https://@Model.Facebook" target="_blank">@Model.Facebook</a> </span></div>
            <div>Portfolio:<span><a href="https://@Model.Portfolio" target="_blank"> @Model.Portfolio</a> </span></div>
            <div>LinkedIn:<span><a href="https://@Model.LinkedIn" target="_blank"> @Model.LinkedIn</a> </span></div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="mt-4 col-md-6 text-center">
            <h2 class="text-center mb-2">Skills</h2>
            <ul style="list-style-position:inside; text-align:left;" class="row">
                @foreach (var item in Model.Skills)
                {
                    <li class="col-sm-6 py-1">@item.SkillName</li>
                }
            </ul>
        </div>
        <div class="mt-4 col-md-6 text-center">
            <h2 class="text-center mb-2">Trainings</h2>
            <div class="row">
                @foreach (var item in Model.Trainings)
                {
                    <div style="text-align:right" class="col-sm-6 py-1"> @item.TrainingName</div>
                    <div style="text-align:left" class="col-sm-6 py-1 ps-3"> @item.TrainingLocation</div>
                }
            </div>
        </div>
    </div>

    <div class="my-3 pb-5 container">
        <h2 class="text-center">Work Experience</h2>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Company</th>
                    <th scope="col">Location</th>
                    <th scope="col">Position</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Experiences)
                {

                    <tr>
                        <td>@item.ExperienceName</td>
                        <td>@item.ExperienceLocation</td>
                        <td>@item.Role</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="mb-5 col-md-6 text-center">
        <h2 class="text-center mb-2">Emergency Contact</h2>
        <div class="row">
            <div class="col">
                @foreach (var item in Model.EmergencyContacts)
                {
                    <div style="text-align:right;"> @item.EmergencyContact</div>

                }
            </div>
            <div class="col">

                @foreach (var item in Model.EmergencyContacts)
                {
                    <div>  @item.EmergencyNumber</div>
                }
            </div>
            <div class="col">
                @foreach (var item in Model.EmergencyContacts)
                {
                    <div style="text-align:left;"> @item.EmergencyRelation</div>

                }
            </div>
        </div>
    </div>
</div>
<style>
    body{
         background-color:#ffffe5;
    }
    .resume{
        background-color:white;
    }
</style>